<div class="d-none d-md-flex align-items-center gap-2 h-100">
  <div class="d-flex flex-column align-items-center lh-1 gap-1">
    <span class="fs-3" style="max-width: 32px;min-width: 32px;">{{days}}</span>
    <span class="text-opacity-70 fw-300" style="font-size: 12px;">Dias</span>
  </div>
  <div class="point mx-1 mb-1"></div>
  <div class="d-flex flex-column align-items-center lh-1 gap-1">
    <span class="fs-3" style="max-width: 32px;min-width: 32px;">{{hours}}</span>
    <span class="text-opacity-70 fw-300" style="font-size: 12px;">Horas</span>
  </div>
  <div class="point mx-1 mb-1"></div>
  <div class="d-flex flex-column align-items-center lh-1 gap-1">
    <span class="fs-3" style="max-width: 32px;min-width: 32px;">{{mins}}</span>
    <span class="text-opacity-70 fw-300" style="font-size: 12px;">Mins</span>
  </div>
  <div class="point mx-1 mb-1"></div>
  <div class="d-flex flex-column align-items-center lh-1 gap-1">
    <span class="fs-3" style="max-width: 32px;min-width: 32px;">{{secs}}</span>
    <span class="text-opacity-70 fw-300" style="font-size: 12px;">Segs</span>
  </div>
</div>
<div class="d-flex d-md-none align-items-center gap-2 h-100">
  <div class="d-flex flex-column align-items-center lh-1 gap-1">
    <span class="fs-00">{{days}}</span>
    <span class="text-opacity-70 fw-300 fs-5" style="font-size: 12px;">Dias</span>
  </div>
  <div class="point mx-1 mb-1"></div>
  <div class="d-flex flex-column align-items-center lh-1 gap-1">
    <span class="fs-00">{{hours}}</span>
    <span class="text-opacity-70 fw-300 fs-5" style="font-size: 12px;">Horas</span>
  </div>
  <div class="point mx-1 mb-1"></div>
  <div class="d-flex flex-column align-items-center lh-1 gap-1">
    <span class="fs-00">{{mins}}</span>
    <span class="text-opacity-70 fw-300 fs-5" style="font-size: 12px;">Mins</span>
  </div>
  <div class="point mx-1 mb-1"></div>
  <div class="d-flex flex-column align-items-center lh-1 gap-1">
    <span class="fs-00">{{secs}}</span>
    <span class="text-opacity-70 fw-300 fs-5" style="font-size: 12px;">Segs</span>
  </div>
</div>
