// @include media-breakpoint-down(md) {
//   margin-top: 2.25rem !important;
// }
.init-hidden {
  opacity: 0.1;
  transition: .5s linear;
  padding-top: 3rem !important;
}

.init-hidden-off {
  opacity: 1;
  transition: .5s linear;
}

.banner {
  // background-image: url('../../assets/images/banner.jpg');
  // aspect-ratio: 1563/562;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 600px;
  min-height: 600px;
  background-position: center;
}

@include media-breakpoint-up(lg) {
  .fixed-lg-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

.anchor-link {

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: -60px;
    opacity: 0;
  }

}

.contact-parallax {
  // background-image: url(../../assets/images/parallax.jpg);
  background: #181818;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.card-services {
  box-shadow: -8px 8px 14px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: .2s linear;
  cursor: pointer;

  img.pic {
    object-fit: cover;
    object-position: center;
    aspect-ratio: 3/1;
  }

  img.fig {
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    // max-height: 400px;
  }

  &:hover {
    box-shadow: -16px 16px 20px 0 rgba(0, 0, 0, 0.5);
  }
}