<div class="py-4 w-100" style="background: #37113c;">
  <div class="container">
    <div class="row gy-4 lh-sm justify-content-center justify-content-lg-between">
      <div class="d-lg-none col-5">
        <div class="d-flex justify-content-center align-items-center h-100">
          <img style="opacity: 0.6;" src="assets/images/kati-logo.png" alt="Prazer Kati" style="max-height: 70px;">
        </div>
      </div>
      <div class="col-12 col-lg col-xl-auto">
        <div class="d-flex justify-content-center align-items-center text-center text-md-start h-100 text-white">
          <small class="fw-300 fs-6 text-opacity-75">Copyright © {{ano}}<br class="d-none d-lg-block"> Todos os direitos
            reservados</small>
        </div>
      </div>
      <!-- <div class="col-12 col-lg-auto">
        <div class="d-flex justify-content-center align-items-center text-center text-md-start h-100">
          <small class="fw-300 fs-6">
            <a class="footer-link text-opacity-75 text-black" [routerLink]="'/politica-de-privacidade'">
              Política de Privacidade<br class="d-none d-lg-block">e Cookies
            </a>
          </small>
        </div>
      </div> -->
      <div class="col-12 col-lg-auto">
        <div class="d-flex justify-content-center align-items-center text-center text-md-start h-100 text-white">
          <small class="fw-300 fs-6 text-opacity-75">CNPJ: 00.000.000/0000-00
          </small>
        </div>
      </div>
      <div class="col-2 d-none d-lg-block">
        <div class="d-flex justify-content-center align-items-md-center h-100">
          <img src="assets/images/kati-logo.png" alt="Prazer Kati" style="max-height: 40px;">
        </div>
      </div>
    </div>
  </div>
</div>